{% load static %}
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li class=""><a href="{% url 'dashboard-main' %}"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                        </li>
                        {% if user.is_superuser %}
                            {% include 'base/includes/menu/menu_admin.html' %}
                        {% else %}
                            {% include 'base/includes/menu/menu_cliente.html' %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>