<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard-main' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-adjust"></i>
        </div>
        <div class="sidebar-brand-text mx-3">EasyPorous</div>
    </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-images"></i>
            <span>Imagens</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'list_image' %}">Lista</a>
                <a class="collapse-item" href="{% url 'create_image' %}">Upload</a>
                <a class="collapse-item" href="{% url 'detail_images' %}">Detalhes</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePID"
           aria-expanded="true" aria-controls="collapsePID">
            <i class="fas fa-fw fa-edit"></i>
            <span>PID</span>
        </a>
        <div id="collapsePID" class="collapse" aria-labelledby="headingPID"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'segmentacao_image' %}">Segmentar</a>
                <a class="collapse-item" href="{% url 'segmentacao_image' %}">Filtrar</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFD"
           aria-expanded="true" aria-controls="collapseFD">
            <i class="fas fa-fw fa-signal"></i>
            <span>Física Digital</span>
        </a>
        <div id="collapseFD" class="collapse" aria-labelledby="headingFD"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">VER</a>
                <a class="collapse-item" href="#">Rede de Poros</a>
                <a class="collapse-item" href="">Curva de Saturação</a>
                <a class="collapse-item" href="">Permeabilidade</a>
                <a class="collapse-item" href="">Porosidade</a>
            </div>
        </div>
    </li>
</ul>
