{%load static%}
<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
        <a href="{% url 'dashboard-main' %}" class="navbar-brand pl-2">
            <img class="flex-column-reverse" src="{% static 'logo/logo_preta.png' %}" alt="logo" width="150px">
        </a>
        {% if user.groups.all.0.name == "Cliente" %}
        <div class="container-fluid">
            <h4 class="align-content-center"> {{user.empresa}} </h4>
        </div>
        {% endif %}
        <div class="be-right-navbar">

            <ul class="nav navbar-nav float-right be-user-nav">
                <li class="nav-item dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                                 class="nav-link dropdown-toggle"><img
                        src="{%static 'beagle/assets/img/avatar.png' %}" alt="Avatar"><span class="user-name">Túpac Amaru</span></a>
                    <div role="menu" class="dropdown-menu">
                        <div class="user-info">
                            <div class="user-name">{{ user.full_name }}</div>
                            <div class="user-position online">Available</div>
                        </div>
                        <a href="" class="dropdown-item"><span
                                class="icon mdi mdi-settings"></span>
                            Mudar Senha</a>
                        <a href="" class="dropdown-item"><span
                                class="icon mdi mdi-power">
                        </span> Logout</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav float-right be-icons-nav">


                <ul class="dropdown-menu be-connections">
                    <li>
                        <div class="list">
                            <div class="content">
                                <div class="row">
                                    <div class="col"><a href="#" class="connection-item"><img
                                            src="{%static 'beagle/assets/img/github.png' %}"
                                            alt="Github"><span>GitHub</span></a>
                                    </div>
                                    <div class="col"><a href="#" class="connection-item"><img
                                            src="{%static 'beagle/assets/img/bitbucket.png' %}"
                                            alt="Bitbucket"><span>Bitbucket</span></a></div>
                                    <div class="col"><a href="#" class="connection-item"><img
                                            src="{%static 'beagle/assets/img/slack.png' %}"
                                            alt="Slack"><span>Slack</span></a></div>
                                </div>
                                <div class="row">
                                    <div class="col"><a href="#" class="connection-item"><img
                                            src="{%static 'beagle/assets/img/dribbble.png' %}" alt="Dribbble"><span>Dribbble</span></a>
                                    </div>
                                    <div class="col"><a href="#" class="connection-item"><img
                                            src="{%static 'beagle/assets/img/mail_chimp.png' %}"
                                            alt="Mail Chimp"><span>Mail Chimp</span></a></div>
                                    <div class="col"><a href="#" class="connection-item"><img
                                            src="{%static 'beagle/assets/img/dropbox.png' %}" alt="Dropbox"><span>Dropbox</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer"><a href="#">More</a></div>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>