<li class="parent {% if request.resolver_match.url_name == 'request_list' or request.resolver_match.url_name == 'request_create' or request.resolver_match.url_name == 'request_delete' or request.resolver_match.url_name == 'request_detail' or request.resolver_match.url_name == 'request_update' %} active open {% endif %}">
    <a href="#"><i class="icon mdi mdi-upload"></i><span>Documentos</span></a>
    <ul class="sub-menu">
        <li class="{% if request.resolver_match.url_name == 'service_list'%}active{% endif %}">
            <a href="">Listar</a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'service_create'%}active{% endif %}">
            <a href="">Criar</a>
        </li>
    </ul>
</li>
