{% extends 'base/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block main %}
    <div class="be-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-contrast">
                                <div class="card-header card-header-contrast card-header-featured">
                                    Enviar Lote de Documento
                                </div>
                                <div class="card-body">
                                    <p style="text-align: justify;">
                                        Para enviar um lote de imagens <a class="btn btn-primary btn-sm" href="">Clique
                                        aqui</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}