{% extends 'base/base.html' %}
{% block title %}
    Lista de Documentos
{% endblock %}

{% block main %}

    <div class="content">
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-lg-11">
                    <div class="card card-table">
                        <div class="card-header">
                            <h2 class="page-head-title">
                                Cálculo do Perfil de Porosidade
                            </h2>
                        </div>

                        <div class="card-body" id="app-api">
                            <div class="row">
                                <div class="col-5 justify-content-center">
                                    <div class="row m-1">
                                        <select v-on:change="changeItemTipo($event)" class="form-control m-1">
                                            <option value="">Selecione o Tipo de Imagem</option>
                                            <option value="Rocha"> Rocha</option>
                                            <option value="Solo"> Solo</option>
                                            <option value="all"> Todas Imagens</option>
                                        </select>

                                        <div class="row m-1">
                                            <select class="form-control" id="select-img">
                                                <option v-for="im in info" :value="im.pk" :key="im.pk" id="im-options">
                                                    [[ im.descricao ]]
                                                </option>

                                            </select>
                                            <button v-on:click="calculaPerfilPorosidade($event)" type="button"
                                                    class="btn btn-outline-dark row m-1"> Selecionar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <scatter-chart :data="dados" xtitle="Porosity" ytitle="Stack" width="400px"
                                                   height="500px"></scatter-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="application/javascript">
        function tipo(value) {
            return value['tipo'] === app_list.tipo;
        }

        function isSegmentada(value) {
            return value['is_segmentada'] === true;
        }

        var app_list = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-api',
            data: function () {
                return {
                    info: null,
                    tipo: 'all',
                    dados: []
                }
            },
            methods: {
                init: function init() {
                    axios
                        .get('/api/metaimagem/?format=json')
                        .then(response => {
                            let dados = response.data
                            this.info = dados.filter(isSegmentada).filter(tipo)
                            if (this.tipo === 'all') {
                                this.info = dados.filter(isSegmentada)
                            }
                        })
                },
                changeItemTipo: function changeItemTipo(event) {
                    this.tipo = event.target.value;
                    this.init()
                },
                calculaPerfilPorosidade: function calculaPerfilPorosidade(event) {
                    let imId = document.getElementById('select-img').value;
                    console.log(imId)
                    axios
                        .get(`/fisicadigital/api/perfil-porosidade/${imId}`)
                        .then(response => {
                            let dados_ver = response.data;
                            this.dados = dados_ver['perfil_porosidade'];
                        })
                }
            }
        })
    </script>


{% endblock %}