{% extends 'base/base.html' %}
{% block title %} Detalhes da Imagem {% endblock %}
{% block main %}
    <div class="be-content">

        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider"> Detalhes <span class="card-subtitle"></span>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-12 col-sm-3 col-form-label text-sm-right">
                                    <label>Descrição:</label>
                                </div>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input class="form-control" type="text" value="{{ object.descricao }}" disabled>
                                </div>
                            </div>

                            <h2>Hello OpenCV.js</h2>
                            <div>
                                <div class="inputoutput">
                                    <img id="imageSrc" alt="No Image"/>
                                    <div class="caption">imageSrc <input type="file" id="fileInput" name="file"/></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script>
        let imgElement = document.getElementById("imageSrc")
        let inputElement = document.getElementById("fileInput");
        inputElement.addEventListener("change", (e) => {
            imgElement.src = URL.createObjectURL(e.target.files[0]);
        }, false);
    </script>
{% endblock %}