{% extends 'base/base.html' %}
{% block title %}
    Lista de Documentos
{% endblock %}

{% block main %}

    <div class="content">
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-lg-11">
                    <div class="card card-table">
                        <div class="card-header">
                            <h2 class="page-head-title">
                                Lista de Imagens
                            </h2>
                        </div>

                        <div class="card-body" id="app-api">
                            <div class="row m-2 justify-content-center">
                                <select v-on:change="changeItem($event)" class="col-12 form-control">
                                    <option value="">Selecione o Filtro de Imagem</option>
                                    <option value="true"> Imagens Segmentadas </option>
                                    <option value="false"> Imagens Não Segmentadas </option>
                                    <option value="all"> Todas Imagens </option>
                                </select>
                            </div>
                            <div class="row m-2 justify-content-center" v-bind:style="{ display: mostrar }">
                                <select v-on:change="changeItemTipo($event)" class="col-12 form-control">
                                    <option value="">Selecione o Tipo de Imagem</option>
                                    <option value="Rocha"> Rocha </option>
                                    <option value="Solo"> Solo </option>
                                    <option value="all"> Todas Imagens </option>
                                </select>
                            </div>

                            <table class="table"  >
                                <thead>
                                <tr>
                                    <th style="width:20%;">Descrição</th>
                                    <th style="width:20%;">É Segmentada?</th>
                                    <th style="width:20%;">Porosidade</th>
                                    <th style="width:15%;">Tipo
                                    </th>
                                    <th style="width:40%;">data upload</th>
                                    <th class="actionlist" style="width:40%;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="im in info">
                                    <td>[[ im.descricao ]]</td>
                                    <td>[[ im.is_segmentada ]]</td>
                                    <td>[[ im.porosidade ]]</td>
                                    <td>[[ im.tipo ]]</td>
                                    <td>[[ im.created ]]</td>
                                    <td class="actions">
                                        <a class="icon" style="margin-right: 1rem" v-bind:href="im.url_delete">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </a>
                                        <a href="" style="margin-right: 1rem" class="icon" v-bind:href="im.url_detail">
                                            <i class="fa fa-fw fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script>
        function isSegmentada(value) {
            return value['is_segmentada'] === (app_list.selected === 'true');
        }
        function tipo(value) {
            return value['tipo'] === app_list.tipo;
        }

        var app_list = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-api',
            data: function () {
                return {
                    info: null,
                    selected: 'true',
                    tipo: 'all',
                    mostrar: 'none',
                }
            },
            methods: {
                init: function init(){
                    axios
                        .get('/api/metaimagem/?format=json')
                        .then(response => {
                            let dados = response.data
                            this.info = dados.filter(isSegmentada).filter(tipo)
                            if (this.selected === 'all' && this.tipo === 'all'){
                                this.info = dados
                            } else if (this.selected === 'all'){
                                this.info = dados.filter(tipo)
                            } else if (this.tipo === 'all'){
                                this.info = dados.filter(isSegmentada)
                            }
                        })
                },
                changeItem: function changeItem(event) {
                    this.selected = event.target.value;
                    this.mostrar = 'inline';
                    this.init()
                },
                changeItemTipo: function changeItemTipo(event) {
                    this.tipo = event.target.value;
                    this.init()
                }
            }
        })



    </script>
{% endblock %}