{% extends 'base/base.html' %}
{% block title %} Detalhes da Imagem {% endblock %}
{% block main %}
    <div class="be-content">

        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider"> Detalhes <span class="card-subtitle"></span>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-12 col-sm-3 col-form-label text-sm-right">
                                    <label>Descrição:</label>
                                </div>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input class="form-control" type="text" value="{{ object.descricao }}" disabled>
                                </div>
                            </div>

                            <embed src="http://127.0.0.1:7000/media/im_68.tif" type="image/tiff">
                            <script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>
                            <label>Select TIFF file: <input type=file></label>
                            <div></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>

    <script>
        var tiff = new Tiff({buffer: arrayBuffer});
        var canvas = tiff.toCanvas();
        document.querySelector("input").onchange = function () {

            // convert File blob to ArrayBuffer using a FileReader
            var fileReader = new FileReader();

            fileReader.onload = function () {                     // file is now ArrayBuffer:
                var tiff = new Tiff({buffer: this.result});        // parse and convert
                var canvas = tiff.toCanvas();                      // convert to canvas
                document.querySelector("div").appendChild(canvas); // show canvas with content
            };

            fileReader.readAsArrayBuffer(this.files[0]);         // convert selected file
        };

    </script>
{% endblock %}