{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{%static 'beagle/assets/img/logo-fav.png' %}">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" type="text/css" href="{%static 'beagle/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'beagle/assets/lib/material-design-icons/css/material-design-iconic-font.min.css' %}"/><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{%static 'beagle/assets/css/app.css' %}" type="text/css"/>
  </head>
  <body class="be-splash-screen">
    <div class="be-wrapper be-login">
      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="splash-container">
            <div class="card card-border-color card-border-color-primary">
              <div class="card-header"><img src="{% static 'logo/logo_preta.png' %}" alt="logo" width="200" height="70" class="logo-img"><span class="splash-description">Insira suas informações para receber sua senha por E-mail.</span></div>
              <div class="card-body">
                  <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Digite seu email aqui...">
                      </div>
                      <div class="form-group login-submit">
                          <button data-dismiss="modal" type="submit" class="btn btn-success btn-xl">Enviar email</button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{%static 'beagle/assets/lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{%static 'beagle/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{%static 'beagle/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{%static 'beagle/assets/js/app.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      });

    </script>
  </body>
</html>
