{% extends 'base/base_sem_menu.html' %}
{% block title %} Alteração de senha {% endblock %}
{% block main %}
<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Alteração de senha</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="{% url 'dashboard-main' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Alteração de senha</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider">Alteração de senha<span class="card-subtitle">Preencha as informações alterar sua senha salvar</span>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-12 col-sm-3 col-form-label text-sm-right">
                                    {{ form.old_password.label_tag }}
                                </div>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    {{ form.old_password }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-sm-3 col-form-label text-sm-right">
                                    {{ form.password1.label_tag }}
                                </div>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    {{ form.password1 }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-sm-3 col-form-label text-sm-right">
                                    {{ form.password2.label_tag }}
                                </div>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    {{ form.password2 }}
                                </div>
                            </div>
                            <br>
                            <div class="row ">
                                <div class="col-lg-9 form-check container-fluid">
                                    <div class="form-group text-center">
                                        <div class="float-left">
                                            <a href="{% url 'dashboard-main' %}"
                                               class="btn btn-space btn-secondary text-left">Cancelar</a>
                                        </div>
                                        <input type="checkbox" class="form-check-input "
                                               id="check" onclick="checkboxContent(this)">
                                        <label class="form-check-label " for="check">
                                            <p>Aceito <a target="popup"
                                                         href="http://seulinkaqui.com"
                                                         onclick="window.open('http://seulinkaqui.com','popup','width=600,height=600'); return false;"
                                                         class="text-bold">os termos e condições </a>
                                                do site.
                                            </p>
                                        </label>

                                        <button type="submit" class="float-right btn btn-space btn-primary" disabled>
                                            Alterar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p style="color:red;">{{form.errors}}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('.mascara-data').mask('00/00/0000');
        $('.mascara-monetaria').mask('000.000.000.000.000,00', {reverse: true});
        $('.mascara-calular').mask('(00) 00000-0000');
    });
</script>

<script>
    function checkboxContent(element) {
        var cb = $(element);
        var value = cb.is(':checked');
        cb.parent().children('input, button').each(function () {
            var t = $(this);
            if (t.attr('type') !== 'checkbox') {
                t.attr('readonly', !value);
                t.attr('disabled', !value);
            }
        });
    }

</script>
{%endblock%}
